body {
  margin: 0;
}
t-flex {
  display: flex;
  flex-wrap: wrap;
}
t-renderer {
  /* width: 300px; */
  /* height: 300px; */
  height: 100vh;
  display: flex;
}
t-gui {
  top: 0;
  background-color: rgba(240, 248, 255, 0.5);
  padding: 10px;
  position: absolute;
}